
body{
	background: black;
}

.container{
	background: url('../img/fond.jpg ') ;
	width: 320px;
	height: 480px;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

/* Font et hiérarchie*/

h1,h2,h3,h4,h5,h6{
  font-family: "lobster",serif;
}

p{
	font-family: "futura-pt",sans-serif;
}

/* // End Font et hiérarchie //*/



.bar{
	background: #cb4252;
	height: 50px;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 320px;
	z-index: 999999999;
}

.hamburger{
	margin: 0;
	padding: 0;
	width: 50px;
	height: 50px;
	float: left;

}

.ligne{

	width: 25px;
	height: 2px;
	background:white;
	margin: 4px auto;
}

.ligne:nth-child(1){
	margin-top: 17px;
}

.titre{
	color: white;
	float: left;
	margin-left: 23%;
	font-weight: bold;
	-webkit-transition: all 0.5s ease;
}

.titreUnHover{
-webkit-transform:translate(-96px);
opacity: 0;
}

.titreDeux{
	position: absolute;
	left: 150px;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
}

.titreDeuxHover{
	-webkit-transform:translate(-96px);
	opacity: 1;

}

.titreDeuxHoverMun{
	-webkit-transform:translate(-96px, -50px);
	opacity: 0.5;
}


.titreTrois{
	position: absolute;
	top: 25px;
	left: 56px;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
}

.titreTroisHoverMun{
	top: 0px;
	opacity: 1;
}

.capsule{
	background: #aa283d;
	width: 50px;
	height: 25px;
	float: left;
	margin-left: 23%;
	border-radius: 25px;
	margin-top: 12px;
}

.bouton{
	height: 25px;
	width: 25px;
	border-radius: 17px;
	background: #fffbfd;
	box-shadow: 1px 1px 1px 0.4px black;
	-webkit-transition: all 0.3s ease;
	cursor: pointer;
}

.boutonHover{
	background: white;
	-webkit-transform:translate(25px);

}
